<div class="turnos-container container-fluid mt-4">
  <h2>Turnos</h2>
    <button class="btn btn-primary mb-3 float-end" (click)="openModal()">Agregar Turno</button>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Fecha</th>
        <th scope="col">Cancha</th>
        <th scope="col">Cliente</th>
        <th scope="col">Hora inicio</th>
        <th scope="col">Hora fin</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let turno of turnos">
        <td>{{ turno.id }}</td>
        <td>{{ turno.fechaInicio | date:'dd/MM/yyyy'}}</td>
        <td>{{ turno.cancha.numero }}</td>
        <td>{{ turno.cliente.nombre }} {{ turno.cliente.apellido }} ({{ turno.cliente.correo }})</td>
        <td>{{ turno.fechaInicio | date: 'HH:mm'}}</td>
        <td>{{ turno.fechaFin | date:'HH:mm'}}</td>
        <td class="gap-2 d-flex justify-content-center">
          <button class="btn btn-warning" (click)="openModal(turno)">Editar</button>
          <button class="btn btn-danger" (click)="eliminarTurno(turno)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>